 
# Next.js
.next/
out/

# deps
node_modules/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
frontend/.next/app-build-manifest.json
frontend/.next/app-build-manifest.json
frontend/.next/cache/images/+SzjvuOC8j2VtdASKJd-IHKlxJuZkvjleW3yHGk6bmM=/60.1771593590156.ICrX+fqJmFU1LNfuorJNG4gIyUOY6yIIvrNn8iO6zKE=.webp
frontend/.next/cache/images/-IFXd4ioOUO4cyj1-cUfR14+IKNYsroJ+alWrWkHx6M=/60.1771588982578.ikgbtIokW+KGGQqdZYIh7gWdfp38LZi3oZBDL2QM-ng=.webp
frontend/.next/cache/images/3Rt7rbYxo0Sf1pd0nCoy-BBuKUjdNYLdCeNI3eDRKzA=/60.1771588990662.7FD+khJA-kTerBoti3g8wgt-F4NsvS+I+eRlKOflklE=.webp
frontend/.next/cache/images/3XEIkdXhrweN5Advc28HPFjdUsk6OX2ylK61Fwgpymc=/60.1771593531552.GgQbkX6IdDG56lsPsvCG44dyRfzL4hOlLlH1IqMpEkc=.webp
frontend/.next/cache/images/4QuLyagzieFZ9i-mimDNOB9IOhCakj7z24wE0VaifZg=/60.1771593591008.8ieCKRIu-5kMkzy3XrYUqmPqcSB-vkiWi53-QypBb6g=.webp
frontend/.next/cache/images/5vX4am1Djh2nSqJnRbGNr9zO6c4v5ZCCp8OALoR0SMw=/60.1771593523023.Tw6gXL3FBqkv6Fi64ouJHXf6cOj+xj4Ldv1iRlGlwbE=.webp
frontend/.next/cache/images/6fYs0lqNdupTEk3IHtfoBi1Ap1uNYofVTo5HZU8HtWw=/60.1771593601719.3T2y8RqmpDtKD8S0NmSMA6w1f7xrMWeoWvIKlEkseIo=.webp
frontend/.next/cache/images/7H3Q6OaSGO8qrlcnVfHIU08C1CJs6FYO4DYo01w4D20=/60.1771593591026.s8v5mUNSYc-lDCeu5VOuqNafcsiidd1j+NdOUEcIZ2A=.webp
frontend/.next/cache/images/8GTRyCevHR6Mbgr3WEuXrmemDYNWDHIK7LRgSSqJJso=/60.1771593525835.Ii0gT8HcuiG4xvJjIvRUMGhYR3CshfEYxCWajO45F8s=.webp
frontend/.next/cache/images/91mIjfw2d9oRN-rSVaocdjbZIbJ79Y5kL9V9i+EMZRI=/60.1771588755147.y74KDYOzd0k0FfwF7MQblBvXza0baTIUt4Ic6ouX88w=.webp
frontend/.next/cache/images/93I2jN2v2ssDQboKMadGT+zBVPl190isQI41QvwzWJk=/60.1771593503111.lCZ61wnTKH4NAOcs4h0znDH6m26XNkiWypiUtnC2fbk=.webp
frontend/.next/cache/images/aAc5-ESI2Er67F3oaNqwrCkuzLB-j9grqrcUHtw+508=/60.1771593584868.kBfnKmNZLl7+GP9fQzwbb-iCSb7Kxc3wRr7Sh3RYDys=.webp
frontend/.next/cache/images/BjU2n5i2S5sSQdMV9uDuMvjhnZDYvvMAR-5+OT+bSNA=/60.1771588646935.BM7Q38k1VYIASKKERUElbwEUdJq+wABD8FwZZ9DCGDw=.webp
frontend/.next/cache/images/BNPrkqTXQ8+U6c8aIE3yci6Bf-HrW4pbR0EagX4t7pY=/60.1771593583087.S6p73oYhFhwItDFifjpBa9gFln5GJUev4YSDL8X1Jzc=.webp
